R+V_Documentation/Corrected WSDL/Mietkaution/2020/1/stelleAntrag/_types/_includes/stelleAntragTypes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) von  (R + V Allgemeine Versicherung AG) bearbeitet -->
<xsd:schema xmlns:service="http://ruv-schema.de/Mietkaution/2020/1/_types" xmlns:method="http://ruv-schema.de/Mietkaution/2020/1/stelleAntrag/_types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema fuer Typen der Methode stelleAntrag</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://ruv-schema.de/Mietkaution/2020/1/_types" schemaLocation="../../../_types/types.xsd"/>
	<xsd:complexType name="stelleAntragAnfrageTyp">
		<xsd:sequence>
			<xsd:element name="Kennung" type="service:basisAnfrageTyp">
				<xsd:annotation>
					<xsd:documentation>Mandanteninformationen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BonitaetspruefungDurchfuehren" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Gibt an, ob eine Bonitätsprüfung durchgeführt werden soll. Nur in Ausnahmefällen kann diese abgewählt werden. Dazu ist eine spezielle Berechtigung für den Mandanten erforderlich</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AntragMietkaution" type="method:antragMietkautionTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="antragMietkautionTyp">
		<xsd:sequence>
			<xsd:element name="Referenznummer" type="service:string_30" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hier kann die Vorgangsnummer eines zuvor durchgeführten pruefeBonitaet-Aufrufs übergeben werden, sodass keine erneute Bonitaetspruefung erfolgen muss</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllgemeineAngaben" type="method:allgemeineAngabenTyp"/>
			<xsd:element name="Antragsdaten" type="method:antragsdatenTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="allgemeineAngabenTyp">
		<xsd:sequence>
			<xsd:element name="Agenturdaten" type="method:agenturdatenTyp"/>
			<xsd:element name="Inkassodaten" type="method:inkassodatenTyp"/>
			<xsd:element name="Werbewiderspruch" type="method:werbewiderspruchTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="agenturdatenTyp">
		<xsd:sequence>
			<xsd:element name="Agentur" type="method:agenturTyp"/>
			<xsd:element name="Mitarbeiterdaten" type="method:mitarbeiterdatenTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="agenturTyp">
		<xsd:sequence>
			<xsd:element name="Agenturnummer" type="service:string_exakt_6"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mitarbeiterdatenTyp">
		<xsd:sequence>
			<xsd:element name="Mitarbeiternummer" type="service:string_12" minOccurs="0"/>
			<xsd:element name="MitarbeiternummerZusaetzlicherMA" type="service:string_exakt_6" minOccurs="0"/>
			<xsd:element name="StellennummerZusaetzlicherMA" type="service:string_exakt_6" minOccurs="0"/>
			<xsd:element name="VermittlereigeneVorgangsnummer" type="service:string_9" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inkassodatenTyp">
		<xsd:sequence>
			<xsd:element name="Zahlungsweise" type="method:zahlungsweiseTyp">
				<xsd:annotation>
					<xsd:documentation>Zahlungsintervall</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Inkassoart" type="method:inkassoartTyp">
				<xsd:annotation>
					<xsd:documentation>Zahlungsmethode</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Zahlungseinzug" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Bankverbindung" type="method:bankverbindungTyp" minOccurs="0"/>
						<xsd:element name="Zahlungsdienstleister" type="method:zahlungsdienstleisterTyp" minOccurs="0"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="zahlungsweiseTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="monatlich"/>
			<xsd:enumeration value="jaehrlich"/>
			<xsd:enumeration value="halbjaehrlich"/>
			<xsd:enumeration value="vierteljaehrlich"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="inkassoartTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Lastschrift"/>
			<xsd:enumeration value="Selbstzahler"/>
			<xsd:enumeration value="Zahlungsdienstleister"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="bankverbindungTyp">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Lastschriftverfahren" type="method:lastschriftverfahrenTyp"/>
				<xsd:element name="SepaMandat" type="method:sepaMandatTyp"/>
			</xsd:choice>
			<xsd:element name="Kreditinstitut" type="service:string_30"/>
			<xsd:element name="Kontoinhaber" type="service:string_30"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lastschriftverfahrenTyp">
		<xsd:sequence>
			<xsd:element name="Kontonummer" type="method:kontonummerTyp"/>
			<xsd:element name="Bankleitzahl" type="method:bankleitzahlTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="kontonummerTyp">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="bankleitzahlTyp">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="sepaMandatTyp">
		<xsd:sequence>
			<xsd:element name="IBAN" type="method:ibanTyp"/>
			<xsd:element name="BIC" type="method:bicTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ibanTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="bicTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="werbewiderspruchTyp">
		<xsd:sequence>
			<xsd:element name="KeineTelefonWerbung" type="xsd:boolean"/>
			<xsd:element name="KeineEMailWerbung" type="xsd:boolean"/>
			<xsd:element name="KeineDatenweitergabe" type="xsd:boolean"/>
			<xsd:element name="KeineSchriftlicheWerbung" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="antragsdatenTyp">
		<xsd:sequence>
			<xsd:element name="Adressdaten" type="method:adressdatenTyp"/>
			<xsd:element name="Vertragsdaten" type="method:vertragsdatenTyp"/>
			<xsd:element name="AntragsdatenIdentifikation" type="method:antragsdatenIdentifikationTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="adressdatenTyp">
		<xsd:sequence>
			<xsd:element name="Versicherungsnehmer" type="method:versicherungsnehmerTyp"/>
			<xsd:element name="Vermieter" type="method:vermieterTyp"/>
			<xsd:element name="Mietobjekt" type="method:mietobjektTyp"/>
			<xsd:element name="AbweichBuergEmpfaenger" type="method:abweichBuergEmpfaengerTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="versicherungsnehmerTyp">
		<xsd:choice>
			<xsd:element name="NatuerlichePerson" type="method:natuerlichePersonErweitertTyp"/>
			<xsd:element name="Gemeinschaft" type="method:gemeinschaftTyp"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="natuerlichePersonErweitertTyp">
		<xsd:sequence>
			<xsd:element name="Name" type="method:nameNatuerlichePersonHerrFrauTyp"/>
			<xsd:element name="Adresse" type="method:adresseNatuerlichePersonTyp"/>
			<xsd:element name="Kontaktdaten" type="method:kontaktdatenTyp"/>
			<xsd:element name="Geburtsdatum" type="service:datumTyp"/>
			<xsd:element name="Nationalitaet" type="xsd:normalizedString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameNatuerlichePersonHerrFrauTyp">
		<xsd:sequence>
			<xsd:element name="Anrede" type="method:anredeHerrFrauTyp"/>
			<xsd:element name="Titel" type="service:string_10" minOccurs="0"/>
			<xsd:element name="Vorname" type="service:string_30"/>
			<xsd:element name="Nachname" type="service:string_30"/>
			<xsd:element name="Namenszusatz" type="service:string_30" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="anredeHerrFrauTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Herr"/>
			<xsd:enumeration value="Frau"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="natuerlichePersonTyp">
		<xsd:sequence>
			<xsd:element name="Name" type="method:nameNatuerlichePersonTyp"/>
			<xsd:element name="Adresse" type="method:adresseNatuerlichePersonTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="natuerlichePersonOptionalAdresseTyp">
		<xsd:sequence>
			<xsd:element name="Name" type="method:nameNatuerlichePersonTyp"/>
			<xsd:element name="Adresse" type="method:adresseNatuerlichePersonTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameNatuerlichePersonTyp">
		<xsd:sequence>
			<xsd:element name="Anrede" type="method:anredeTyp"/>
			<xsd:element name="Titel" type="service:string_10" minOccurs="0"/>
			<xsd:element name="Vorname" type="service:string_30"/>
			<xsd:element name="Nachname" type="service:string_30"/>
			<xsd:element name="Namenszusatz" type="service:string_30" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="anredeTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Herr"/>
			<xsd:enumeration value="Frau"/>
			<xsd:enumeration value="ohne Anrede"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="adresseNatuerlichePersonTyp">
		<xsd:sequence>
			<xsd:element name="Strasse" type="service:string_30"/>
			<xsd:element name="Hausnummer" type="service:string_10"/>
			<xsd:element name="HausnummerZusatz" type="service:string_5" minOccurs="0"/>
			<xsd:element name="Postleitzahl" type="service:string_5"/>
			<xsd:element name="Ort" type="service:string_25"/>
			<xsd:element name="Teilort" type="service:string_30" minOccurs="0"/>
			<xsd:element name="Land" type="service:landTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kontaktdatenTyp">
		<xsd:sequence>
			<xsd:element name="Privat" type="method:privatTyp" minOccurs="0"/>
			<xsd:element name="Geschaeftlich" type="method:geschaeftlichTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="privatTyp">
		<xsd:sequence>
			<xsd:element name="Telefon" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="Mobil" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="Fax" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="EMail" type="service:string_50" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kontaktnummerTyp">
		<xsd:sequence>
			<xsd:element name="Vorwahl" type="method:vorwahlTyp"/>
			<xsd:element name="Rufnummer" type="service:string_15"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="vorwahlTyp">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0+][0-9]{2,7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="geschaeftlichTyp">
		<xsd:sequence>
			<xsd:element name="Telefon" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="Mobil" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="Fax" type="method:kontaktnummerTyp" minOccurs="0"/>
			<xsd:element name="Email" type="service:string_50" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gemeinschaftTyp">
		<xsd:sequence>
			<xsd:element name="AnredeGemeinschaft" type="method:anredeGemeinschaftTyp"/>
			<xsd:element name="NameErstePerson" type="method:namePersonGemeinschaftTyp"/>
			<xsd:element name="NameZweitePerson" type="method:namePersonGemeinschaftOhneNamenszusatzTyp"/>
			<xsd:element name="Adresse" type="method:adresseNatuerlichePersonTyp"/>
			<xsd:element name="Kontaktdaten" type="method:kontaktdatenTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="anredeGemeinschaftTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Ehepaar"/>
			<xsd:enumeration value="ohne Anrede"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="namePersonGemeinschaftTyp">
		<xsd:sequence>
			<xsd:element name="Anrede" type="method:anredeHerrFrauTyp"/>
			<xsd:element name="Titel" type="service:string_10" minOccurs="0"/>
			<xsd:element name="Vorname" type="service:string_30"/>
			<xsd:element name="Nachname" type="service:string_30"/>
			<xsd:element name="Namenszusatz" type="service:string_30" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="namePersonGemeinschaftOhneNamenszusatzTyp">
		<xsd:sequence>
			<xsd:element name="Anrede" type="method:anredeHerrFrauTyp"/>
			<xsd:element name="Titel" type="service:string_10" minOccurs="0"/>
			<xsd:element name="Vorname" type="service:string_30"/>
			<xsd:element name="Nachname" type="service:string_30"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vermieterTyp">
		<xsd:choice>
			<xsd:element name="NatuerlichePerson" type="method:natuerlichePersonOptionalAdresseTyp"/>
			<xsd:element name="JuristischePerson" type="method:juristischePersonOptionalAdresseTyp"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="juristischePersonTyp">
		<xsd:sequence>
			<xsd:element name="NameJuristischePerson" type="method:nameJuristischePersonTyp"/>
			<xsd:element name="AdresseJuristischePerson" type="method:adresseJuristischePersonTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="juristischePersonOptionalAdresseTyp">
		<xsd:sequence>
			<xsd:element name="NameJuristischePerson" type="method:nameJuristischePersonTyp"/>
			<xsd:element name="AdresseJuristischePerson" type="method:adresseJuristischePersonTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameJuristischePersonTyp">
		<xsd:sequence>
			<xsd:element name="Anrede" type="method:anredeTyp"/>
			<xsd:element name="Name" type="service:string_30"/>
			<xsd:element name="Namenszusatz" type="service:string_30" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="adresseJuristischePersonTyp">
		<xsd:sequence>
			<xsd:element name="Postleitzahl" type="service:string_5"/>
			<xsd:element name="Ort" type="service:string_25"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Strasse" type="service:string_30"/>
					<xsd:element name="Hausnummer" type="service:string_10"/>
					<xsd:element name="HausnummerZusatz" type="service:string_5" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element name="Postfach" type="service:string_8"/>
			</xsd:choice>
			<xsd:element name="Land" type="service:landTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mietobjektTyp">
		<xsd:sequence>
			<xsd:element name="Strasse" type="service:string_30"/>
			<xsd:element name="Hausnummer" type="service:string_10"/>
			<xsd:element name="HausnummerZusatz" type="service:string_5" minOccurs="0"/>
			<xsd:element name="Postleitzahl" type="service:string_5"/>
			<xsd:element name="Ort" type="service:string_30"/>
			<xsd:element name="Land" type="service:landTyp"/>
			<xsd:element name="WeitereObjektbeschreibung" type="service:string_60" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ergänzende Informationen über das Mietobjekt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="abweichBuergEmpfaengerTyp">
		<xsd:choice>
			<xsd:element name="NatuerlichePerson" type="method:natuerlichePersonTyp"/>
			<xsd:element name="JuristischePerson" type="method:juristischePersonTyp"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="vertragsdatenTyp">
		<xsd:sequence>
			<xsd:element name="Produkt" type="method:produktTyp"/>
			<xsd:element name="Vertragsbeginn" type="service:datumTyp"/>
			<xsd:element name="Buergschaftsvariante" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>beispielsweise AufErstesAnfordern</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Tarifdaten" type="method:tarifdatenTyp"/>
			<xsd:element name="Mietvertrag" type="method:mietvertragTyp"/>
			<xsd:element name="Dokumentenversand" type="method:dokumentenversandTyp"/>
			<xsd:element name="UebergabeDokumente" type="method:uebergabeDokumenteTyp"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="produktTyp">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Mietkaution"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="tarifdatenTyp">
		<xsd:sequence>
			<xsd:element name="Versicherungsbedingungen" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation>beispielsweise Miet2017, Miet2018</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Buergschaftssumme" type="service:decimal_bis_99999"/>
			<xsd:element name="Jahresbeitrag" type="service:decimal_bis_10000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mietvertragTyp">
		<xsd:sequence>
			<xsd:element name="MietvertragVom" type="service:datumTyp"/>
			<xsd:element name="Einzugsdatum" type="service:datumTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dokumentenversandTyp">
		<xsd:sequence>
			<xsd:element name="VersandBuergschaft" type="method:versandBuergschaftTyp">
				<xsd:annotation>
					<xsd:documentation>Empfänger der Bürgschaft</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="versandBuergschaftTyp">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Versicherungsnehmer"/>
			<xsd:enumeration value="Vermieter"/>
			<xsd:enumeration value="Hausverwalter"/>
			<xsd:enumeration value="Versand an Dritten"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="uebergabeDokumenteTyp">
		<xsd:sequence>
			<xsd:element name="VertragsbestimmungenUebergeben" type="xsd:boolean"/>
			<xsd:element name="BuergschaftUebergeben" type="xsd:boolean"/>
			<xsd:element name="VersicherungsscheinUebergeben" type="xsd:boolean"/>
			<xsd:element name="RechnungUebergeben" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stelleAntragAntwortTyp">
		<xsd:complexContent>
			<xsd:extension base="service:basisAntwortTyp">
				<xsd:sequence>
					<xsd:element name="Rechtsgeschaeft" type="service:rechtsgeschaeftTyp"/>
					<xsd:element name="AntragsdatenIdentifikation" type="method:antragsdatenIdentifikationTyp" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="zahlungsdienstleisterTyp">
		<xsd:sequence>
			<xsd:element name="ZahlungsartID" type="service:string_50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Enthält die vom Nutzer ausgewählte Zahlungsart. Z.b. VISA, Mastercard, PayPal etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZahlungsvorgangID" type="service:string_50">
				<xsd:annotation>
					<xsd:documentation>Ist die Referenz auf eine vom Kunden autorisierte Zahlung. Diese wird zum Einzug des Erstbeitrags genutzt und für erneute Buchungen bei wiederkehrenden Zahlungen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="antragsdatenIdentifikationTyp">
		<xsd:sequence>
			<xsd:element name="AntragsdatenID" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifizierung des internen Auftragsdatensatzes eines Servicenehmers. Es handelt sich um die eindeutige Identifizierung der vom Vermieter eingegebenen Daten. Es ist somit sichergestellt, dass der Vermieter und R+V die gleichen Daten zur Bürgschaft haben und diese auch eindeutig identifizieren können.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BuergschaftstextVersion" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifizierung eines Bürgschaftstextes. Dadurch wird sichergestellt, dass dem Vermieter und der R+V je Bürgschaftsverhältnis der zugrundeliegende Haftungstext ersichtlich ist.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
